
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8">
   	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Go Trip a Travel Category  Responsive Web Template| Home :: W3layouts</title>

    <!-- Template CSS -->
    <link rel="stylesheet" href="~/css/style-starter.css">
    <link href="~/css/site.css" rel="stylesheet" />
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">

   <link href="//fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
<link rel="stylesheet" href="~/BitirmeProjesi.styles.css" asp-append-version="true" />
  </head>
  <body id="home">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<a href="#" class="navbar-brand">
   <span class="d-lg-inline-block d-none mt-2">TRAVEL TUR</span>
   <i class="fas fa-suitcase"></i>
</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link" href="/Anasayfa/Index">ANASAYFA<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/About/Index">HAKKIMIZDA</a>
      </li>

      <li class="nav-item">
					<a class="nav-link" href="/Tur/Index">TURLAR</a>
      </li>
	        <li class="nav-item">
					<a class="nav-link" href="/Default/İletisim">İLETİŞİM</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>




      <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()

        </main>
    </div>




<section class="w3l-footer-29-main">
	<div class="footer-29 py-5 ">
	  <div class="container">
		<div class="grid-col-4 footer-top-29">
			<div class="footer-list-29 footer-1">
				<h2 class="footer-title-29">Bizimle iletisime gecin</h2>
				<ul>
					<li><p><span class="fab fa-address-card"></span>California, #32841 block,
						#221DRS 75 West Rock,
						Maple Building, UK.</p></li>
					<li><a href="tel:+7-800-999-800"><span class="fa fa-phone"></span> +(21)-255-999-8888</a></li>
					<li><a href="mailto:estate-mail@support.com" class="mail"><span class="fa fa-envelope"></span> Exterior-mail@support.com</a></li>
				</ul>
				<div class="main-social-footer-29">
					<a href="#facebook" class="facebook"><span class="fab fa-facebook"></span></a>
					<a href="#twitter" class="twitter"><span class="fab fa-twitter"></span></a>
					<a href="#instagram" class="instagram"><span class="fab fa-instagram"></span></a>
					<a href="#google-plus" class="google-plus"><span class="fab fa-google-plus"></span></a>
					<a href="#linkedin" class="linkedin"><span class="fab fa-linkedin"></span></a>
				</div>
			</div>
			<div class="footer-list-29 footer-2">
				<ul>
					<h6 class="footer-title-29">Category</h6>
					<li><a href="#pages">Event Travel</a></li>
					<li><a href="#pages">Holiday Trip</a></li>
					<li><a href="#pages">Group Tour</a></li>
					<li><a href="#pages">Package Holiday</a></li>
					<li><a href="#pages">Gap Year</a></li>
				</ul>
			</div>
			<div class="footer-list-29 footer-3">
				<div class="properties">
					<h6 class="footer-title-29">Latest Gallery</h6>
					<div class="images-col">
                  <a href="blog-single.html"><img src="~/blog1.jpg" class="img-responsive" alt=""></a>
					<a href="blog-single.html"><img src="~/blog2.jpg" class="img-responsive" alt=""></a>
								<a href="blog-single.html"><img src="~/blog3.jpg" class="img-responsive" alt=""></a>
								<a href="blog-single.html"><img src="~/blog4.jpg" class="img-responsive" alt=""></a>
								<a href="blog-single.html"><img src="~/blog5.jpg" class="img-responsive" alt=""></a>
								<a href="blog-single.html"><img src="~/blog4.jpg" class="img-responsive" alt=""></a>
				</div>
			</div>
			</div>
			<div class="footer-list-29 footer-4">
				<ul>
					<h6 class="footer-title-29">Travel & Trip</h6>
					<li><a href="#url">	Bahamas</a></li>
					<li><a href="#url">	Cambodia</a></li>
					<li><a href="#url">Dominica</a></li>
					<li><a href="#url">	Egypt</a></li>
					<li><a href="#url">Germany</a></li>
				</ul>
			</div>
		</div>
		<div class=" bottom-copies text-center">
			<p class="copy-footer-29">© 2020 Go Trip. All rights reserved | Designed by <a href="//w3layouts.com">W3layouts</a></p>
		  </div>
		</div>
	</div>
  </section>
  <script src="/js/jquery-3.3.1.min.js"></script> <!-- Common jquery plugin -->
<!--bootstrap working-->
<script src="/js/bootstrap.min.js"></script>
<script>
	let list=document.querySelectorAll("nav-item");
		list.forEach(nav-item=>{nav-item.addEventListener('click',function(){
			list.forEach(klist=>klist.classList.remove('active'));
			this.classlist.add('active');
		})})
	</script>

</body>

</html>
